**/bin/
**/obj/
.vs/
*.user
*.suo
killingmachine.db
killingmachine.db-shm
killingmachine.db-wal

# Compilacion de .NET
bin/
obj/
.vs/

# Base de datos local SQLite
*.db
*.db-shm
*.db-wal

# Configuracion local
appsettings.Development.json
